@view-transition {
  navigation: auto;
}

body {
  padding: 0 20px;
}

body > main {
  padding: 0;

snack-tv-videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

snack-tv-video iframe {
  width: 100%;
  min-height: 800px;
}
